.img-section{
    width: 80%;
    border-radius: 50%;
}
.services-main{
    background-color: rgb(255, 255, 255);
}
.single-service{
    height: auto;
    border:1px solid rgb(91, 253, 253);
    border-radius: 15px;
    background-color: aliceblue;
    transition: 0.4s all ease;
}
.single-service img{
    border-radius: 50%;
}
.single-service:hover{
    background-color: rgb(91, 253, 253);
    cursor: pointer;
}